---
import ElixorIcon from '@/features/elixor-icon'
import LocaleMenu from '@/features/locale-menu'
import ThemeSwitcher from '@/features/theme-switcher'
import BaseLayout from '@/app/layouts/base-layout.astro'

import Footer from '@/widgets/footer'
import HeaderWrapper from '@/widgets/header-wrapper'

import { useTranslatedPath } from '@/shared/i18n'

const ruPath = useTranslatedPath('ru')
const enPath = useTranslatedPath('en')

const localization = [
  {
    name: 'Russian',
    link: ruPath('/'),
  },
  {
    name: 'English',
    link: enPath('/'),
  },
]
---

<BaseLayout>
  <div class="relative flex min-h-screen max-w-[100vw] flex-col">
    <HeaderWrapper client:load>
      <div
        class="mx-auto flex h-full w-full max-w-screen-2xl items-center justify-between px-5 md:px-10"
      >
        <ElixorIcon class="h-10 w-32 md:w-44 dark:fill-white" />
        <div class="flex h-10 items-center gap-6 md:gap-8">
          <ThemeSwitcher client:only="solid-js" />
          <LocaleMenu links={localization} client:only="solid-js" />
        </div>
      </div>
    </HeaderWrapper>
    <main class="mx-auto h-full w-full flex-auto">
      <slot />
    </main>
    <div class="bg-white dark:bg-stone-950">
      <Footer />
    </div>
  </div>
</BaseLayout>
