---
import { l } from 'astro-i18n'

import ElixorIcon from '@/components/ElixorIcon'
import LocaleMenu from '@/components/LocaleMenu'
import ThemeSwitcher from '@/components/ThemeSwitcher'
import BaseLayout from '@/layouts/BaseLayout.astro'

import Footer from '../components/Footer'
import HeaderWrapper from '../components/HeaderWrapper'

const localization = [
  {
    name: 'Russian',
    link: l('', {}, 'ru'),
  },
  {
    name: 'English',
    link: l('', {}, 'en'),
  },
]
---

<BaseLayout>
  <div class="relative flex min-h-screen max-w-[100vw] flex-col">
    <HeaderWrapper client:load>
      <div
        class="mx-auto flex h-full w-full max-w-screen-2xl items-center justify-between px-5 md:px-10"
      >
        <ElixorIcon class="h-10 w-32 dark:fill-white md:w-44" />
        <div class="flex h-10 items-center gap-6 md:gap-8">
          <ThemeSwitcher client:only="solid-js" />
          <LocaleMenu links={localization} client:only="solid-js" />
        </div>
      </div>
    </HeaderWrapper>
    <main class="mx-auto h-full w-full flex-auto">
      <slot />
    </main>
    <div class="bg-white dark:bg-stone-950">
      <Footer />
    </div>
  </div>
</BaseLayout>
