---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Footer from '@/components/layouts/Footer'
import HeaderWrapper from '@/components/layouts/HeaderWrapper'
import ThemeSwitcher from '@/components/ThemeSwitcher'
import { CustomIcon } from 'solid-icons'
import { HiOutlineLanguage } from 'solid-icons/hi'
import elixorBrandContent from '@/assets/elixorBrand'
---

<BaseLayout>
  <div class="relative min-h-screen max-w-[100vw]">
    <div class="h-full w-full">
      <HeaderWrapper client:load>
        <div
          class="mx-auto flex h-full w-full max-w-screen-2xl items-center justify-between px-5 md:px-10"
        >
          <CustomIcon
            src={elixorBrandContent}
            class="h-10 w-32 dark:fill-white md:w-44"
          />
          <div class="flex h-10 items-center gap-6 md:gap-8">
            <ThemeSwitcher client:only="solid-js" />
            <HiOutlineLanguage class="h-6 w-6" />
          </div>
        </div>
      </HeaderWrapper>
      <main class="h-full w-full">
        <slot />
      </main>
      <Footer />
    </div>
  </div>
</BaseLayout>
